*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
}

:root{
    /* these are my global variables  */
    --blue:#106EBE;
    --mint:#0FFCBE;
    --lightblue:rgb(59, 191, 248);
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background-color:var(--blue) ;
}

h2{
    text-transform: uppercase;
    color: var(--mint);
    letter-spacing: 2px;
    text-align: center;
}

.display-container{
    position: relative;
    width: 25%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    border: 2px solid var(--mint);
    border-radius: 10px;
    background-color: var(--lightblue);
}

/* to remove the background of the input tag and its border use these lines like background-color: transparent;
           border:none;*/
.display{
    background-color: transparent;
    border:none;
    color: var(--mint);
    font-size: 1.3rem;
    font-weight: bolder;
    letter-spacing: 2px;
}

.display::placeholder{
    color: var(--mint);
    font-size: 1.3rem;
    font-weight: bolder;
    letter-spacing: 2px;
}

.copyBtn{
    position: relative;
    /* to remove the default style of the button  */
    background-color: transparent;
    border:none;
    outline:none;
}

.data-copyMsg{
    position: absolute;
    background-color: var(--mint);
    border-radius: 14px;
    color: white;
    padding: 0.5rem;
    top: -36px;
    right: -19px;
    display: none;
}

/* to remove the copied msg after 2secs  */
.active{
    display: block;
}

.input-container{
    position: relative;
    width: 25%;
    border: 2px solid var(--mint);
    border-radius: 10px;
    background-color: var(--lightblue);
    color: var(--mint);
    padding: 1.7rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.length-container{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: 600;
}

.slider {
    /* to remove the default style/look of the slider , use appearance: :none; */
    appearance: none;
    background-color: #b0d8f9;
    height: 14px;
    border-radius: 15px;
    cursor: pointer;
}

/* to access the thumb of the slider use this pseudo selector ::-webkit-slider-thumb  */
.slider::-webkit-slider-thumb{
    /* remove the default appereance of the thumb  */
    appearance: none;
    height: 24px;
    width: 24px;
    background-color: rgb(62, 138, 193);
    box-shadow: 0px 0px 15px 0px rgb(255, 255, 255);
    border-radius: 25px;
    /* to set the z-index must make its position relative  */
    position: relative;
    z-index: 1;
}

/* the -webkit pseudo selector wont work in firefox , for firefox use -mox-range-thumb pseudo selector  */
/* slider::-webkit-slider-thumb{
    /* remove the default appereance of the thumb  */
    /* appearance: none; */
    /* height: 24px; */
    /* width: 24px; */
    /* background-color: rgb(62, 138, 193); */
    /* box-shadow: 0px 0px 15px 0px rgb(255, 255, 255); */
    /* border-radius: 25px; */
    /* to set the z-index must make its position relative  */
    /* position: relative; */
    /* z-index: 1; */
/* } */ 


/* //when we click the slider and drag it (means slider:focus) then give an outline  */
.slider:focus{
    outline: 3px solid var(--mint);
    transform: scale(1.02);
}

.slider::-webkit-slider-thumb:hover{
    box-shadow: 0px 0px 20px 0px rgb(62, 138, 193);
}

.checkboxes{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.1rem;
    font-weight: 600;
}

.checkboxes div input{
    position: relative;
    /* we remove the default style of the checkboxes and made a box of width n height 12px width border --mint and radius 3px  */
    appearance: none;
    width: 14px;
    height: 14px;
    border: 2px solid var(--mint);
    border-radius: 3px;
    cursor: pointer;
}

/* when input is :checked then change it's bg-color  */
.checkboxes div input:checked{
    background-color: var(--mint);
}

/* once input is checked then put a tick in the checkbox  */
/* we used ::before to put the tick and used absolute positioning to place it properly  */
.checkboxes div input:checked::before{
    content: '✔';
    position: absolute;
    color: #b49eff;
    font-size: 0.73rem;
    font-weight: 900;
    left: 1px;
    top: -2px;
}

.strength-container{
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    font-weight: 600;
}

.indicator{
    width: 18px;
    height: 18px;
    border-radius: 15px;
    background-color: #cccaca;
    box-shadow: 0px 0px 20px 0 white;
}

.generateButton{
    background-color: #b0d8f9;
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 1rem;
    color: white;
    border: 2px solid var(--mint);
    border-radius: 40px;
}

@media screen and (max-width: 1310px) {
    .display-container{
        width: 40%;
    }
    .input-container{
        width: 40%;
    }
  }

  @media screen and (max-width: 830px) {
    .display-container{
        width: 65%;
    }
    .input-container{
        width: 65%;
    }
  }

  @media screen and (max-width: 510px) {
    .display-container{
        width: 95%;
    }
    .input-container{
        width: 95%;
    }
  }