*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
}

:root{
    --blue:#106EBE;
    --mint:#0FFCBE;
    --lightblue:rgb(59, 191, 248);
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background-color:var(--blue) ;
}

h2{
    text-transform: uppercase;
    color: var(--mint);
    letter-spacing: 2px;
    text-align: center;
}

.display-container{
    position: relative;
    width: 25%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    border: 2px solid var(--mint);
    border-radius: 10px;
    background-color: var(--lightblue);
}

/* to remove the background of the input tag and its border use these lines  */
.display{
    background-color: transparent;
    border:none;
    color: var(--mint);
    font-size: 1.3rem;
    font-weight: bolder;
    letter-spacing: 2px;
}

.display::placeholder{
    color: var(--mint);
    font-size: 1.3rem;
    font-weight: bolder;
    letter-spacing: 2px;
}

.copyBtn{
    position: relative;
    background-color: transparent;
    border:none;
    outline:none;
}

.data-copyMsg{
    position: absolute;
    background-color: var(--mint);
    border-radius: 14px;
    color: white;
    padding: 0.5rem;
    top: -36px;
    right: -19px;
    display: none;
}

/* to remove the copied msg after 2secs  */
.active{
    display: block;
}

.input-container{
    position: relative;
    width: 25%;
    border: 2px solid var(--mint);
    border-radius: 10px;
    background-color: var(--lightblue);
    color: var(--mint);
    padding: 1.7rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.length-container{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: 600;
}

.slider {
    background-color: #b0d8f9;
    appearance: none;
    border-radius: 15px;
    cursor: pointer;
}

.checkboxes{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.1rem;
    font-weight: 600;
}

.checkboxes div input{
    position: relative;
    appearance: none;
    width: 12px;
    height: 12px;
    border: 2px solid var(--mint);
    border-radius: 3px;
}

.checkboxes div input:checked::before{
    content: '✔';
    position: absolute;
    background-color: var(--mint);
    color: #b49eff;
    font-size: 0.7rem;
    left: -1px;
    top: -2px;
    height: 13px;
    width: 12px;
    border-radius: 3px;
}

.strength-container{
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    font-weight: 600;
}

.indicator{
    width: 18px;
    height: 18px;
    border-radius: 15px;
    background-color: #cccaca;
}

.generateButton{
    background-color: #b0d8f9;
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 1rem;
    color: white;
    border: 2px solid var(--mint);
    border-radius: 40px;
}

@media screen and (max-width: 1310px) {
    .display-container{
        width: 40%;
    }
    .input-container{
        width: 40%;
    }
  }

  @media screen and (max-width: 830px) {
    .display-container{
        width: 65%;
    }
    .input-container{
        width: 65%;
    }
  }

  @media screen and (max-width: 510px) {
    .display-container{
        width: 95%;
    }
    .input-container{
        width: 95%;
    }
  }